.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.log
.DS_Store
android/.gradle/
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore
windows/flutter/ephemeral/
*.db
*.db-journal
local-data/
diagnostics/
